* {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-size: 16px;
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
